.App {
  height: 100%;
}

.container {
  height: 100%;
}

.header {
  padding-top: 10%;
  padding-bottom: 5%;
}

.footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  background: inherit;
  padding: 5%;
}


